<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Information Propierty List</key>
	<dict/>
	<key>Privacy - Location When In Usage Description</key>
	<string>We need your location for use the app</string>
	<key>CFBundleIdentifier</key>
	<string>com.antonio93hb.MapKitApp</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>“Esta aplicación necesita acceso continuo a tu ubicación para garantizar una experiencia óptima.”</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>“Esta aplicación necesita tu ubicación para enviar notificaciones basadas en tu localización.”</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>“Esta aplicación necesita tu ubicación para mostrar mapas personalizados mientras la usas.”</string>
</dict>
</plist>
